:root {

/* Colors: */
--unnamed-color-b68c2e: #B68C2E;
--unnamed-color-ffffff6b: #FFFFFF6B;
--unnamed-color-4a3d3d: #4A3D3D;
--unnamed-color-060606: #060606;
--unnamed-color-e8be4c57: #E8BE4C57;
--unnamed-color-00000070: #00000070;
--unnamed-color-707070: #707070;
--unnamed-color-e8be4c: #E8BE4C;
--unnamed-color-d2d2d2: #D2D2D2;
--unnamed-color-000000: #000000;
--unnamed-color-ffffff: #FFFFFF;

/* Font/text values */
--unnamed-font-family-freightbig-pro: FreightBig Pro;
--unnamed-font-family-roboto: Roboto;
--unnamed-font-family-lato: Lato;
--unnamed-font-family-reross-rectangular: Reross Rectangular;
--unnamed-font-family-regulator-nova: Regulator Nova;
--unnamed-font-style-normal: normal;
--unnamed-font-weight-300: 300px;
--unnamed-font-weight-600: 600px;
--unnamed-font-weight-900: 900px;
--unnamed-font-weight-medium: medium;
--unnamed-font-weight-normal: normal;
--unnamed-font-weight-bold: bold;
--unnamed-font-size-12: 12px;
--unnamed-font-size-18: 18px;
--unnamed-font-size-20: 20px;
--unnamed-font-size-21: 21px;
--unnamed-font-size-24: 24px;
--unnamed-font-size-26: 26px;
--unnamed-font-size-27: 27px;
--unnamed-font-size-28: 28px;
--unnamed-font-size-29: 29px;
--unnamed-font-size-30: 30px;
--unnamed-font-size-31: 31px;
--unnamed-font-size-34: 34px;
--unnamed-font-size-37: 37px;
--unnamed-font-size-39: 39px;
--unnamed-font-size-40: 40px;
--unnamed-font-size-41: 41px;
--unnamed-font-size-43: 43px;
--unnamed-font-size-55: 55px;
--unnamed-font-size-153: 153px;
--unnamed-font-size-175: 175px;
--unnamed-character-spacing-0: 0px;
--unnamed-character-spacing--8-11: -8.11px;
--unnamed-character-spacing--9-28: -9.28px;
--unnamed-character-spacing--2-28: -2.28px;
--unnamed-line-spacing-15: 15px;
--unnamed-line-spacing-22: 22px;
--unnamed-line-spacing-24: 24px;
--unnamed-line-spacing-27: 27px;
--unnamed-line-spacing-29: 29px;
--unnamed-line-spacing-30: 30px;
--unnamed-line-spacing-33: 33px;
--unnamed-line-spacing-34: 34px;
--unnamed-line-spacing-36: 36px;
--unnamed-line-spacing-38: 38px;
--unnamed-line-spacing-39: 39px;
--unnamed-line-spacing-40: 40px;
--unnamed-line-spacing-43: 43px;
--unnamed-line-spacing-44: 44px;
--unnamed-line-spacing-47: 47px;
--unnamed-line-spacing-61: 61px;
--unnamed-line-spacing-62: 62px;
--unnamed-line-spacing-68: 68px;
--unnamed-line-spacing-70: 70px;
--unnamed-line-spacing-78: 78px;
--unnamed-line-spacing-81: 81px;
--unnamed-line-spacing-84: 84px;
--unnamed-line-spacing-89: 89px;
--unnamed-text-transform-uppercase: uppercase;
}

/* Character Styles */
.unnamed-character-style-1 {
font-family: var(--unnamed-font-family-freightbig-pro);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-medium);
font-size: var(--unnamed-font-size-40);
line-height: var(--unnamed-line-spacing-84);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-ffffff);
text-transform: var(--unnamed-text-transform-uppercase);
}
.unnamed-character-style-2 {
font-family: var(--unnamed-font-family-freightbig-pro);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-300);
font-size: var(--unnamed-font-size-12);
line-height: var(--unnamed-line-spacing-15);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-ffffff);
text-transform: var(--unnamed-text-transform-uppercase);
}
.unnamed-character-style-3 {
font-family: var(--unnamed-font-family-freightbig-pro);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-medium);
font-size: var(--unnamed-font-size-34);
line-height: var(--unnamed-line-spacing-43);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-e8be4c);
text-transform: var(--unnamed-text-transform-uppercase);
}
.unnamed-character-style-4 {
font-family: var(--unnamed-font-family-roboto);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-300);
font-size: var(--unnamed-font-size-18);
line-height: var(--unnamed-line-spacing-24);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-ffffff);
}
.unnamed-character-style-5 {
font-family: var(--unnamed-font-family-freightbig-pro);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-medium);
font-size: var(--unnamed-font-size-39);
line-height: var(--unnamed-line-spacing-30);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-e8be4c);
text-transform: var(--unnamed-text-transform-uppercase);
}
.unnamed-character-style-6 {
font-family: var(--unnamed-font-family-freightbig-pro);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-300);
font-size: var(--unnamed-font-size-24);
line-height: var(--unnamed-line-spacing-30);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-e8be4c);
text-transform: var(--unnamed-text-transform-uppercase);
}
.unnamed-character-style-7 {
font-family: var(--unnamed-font-family-freightbig-pro);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-300);
font-size: var(--unnamed-font-size-29);
line-height: var(--unnamed-line-spacing-61);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-ffffff);
text-transform: var(--unnamed-text-transform-uppercase);
}
.unnamed-character-style-8 {
font-family: var(--unnamed-font-family-freightbig-pro);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-bold);
font-size: var(--unnamed-font-size-21);
line-height: var(--unnamed-line-spacing-27);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-e8be4c);
text-transform: var(--unnamed-text-transform-uppercase);
}
.unnamed-character-style-9 {
font-family: var(--unnamed-font-family-freightbig-pro);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-300);
font-size: var(--unnamed-font-size-18);
line-height: var(--unnamed-line-spacing-22);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-e8be4c);
text-transform: var(--unnamed-text-transform-uppercase);
}
.unnamed-character-style-10 {
font-family: var(--unnamed-font-family-freightbig-pro);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-medium);
font-size: var(--unnamed-font-size-43);
line-height: var(--unnamed-line-spacing-62);
letter-spacing: var(--unnamed-character-spacing--2-28);
color: var(--unnamed-color-ffffff);
text-transform: var(--unnamed-text-transform-uppercase);
}
.unnamed-character-style-11 {
font-family: var(--unnamed-font-family-freightbig-pro);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-300);
font-size: var(--unnamed-font-size-175);
line-height: var(--unnamed-line-spacing-81);
letter-spacing: var(--unnamed-character-spacing--9-28);
color: var(--unnamed-color-ffffff);
}
.unnamed-character-style-12 {
font-family: var(--unnamed-font-family-freightbig-pro);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-300);
font-size: var(--unnamed-font-size-153);
line-height: var(--unnamed-line-spacing-81);
letter-spacing: var(--unnamed-character-spacing--8-11);
color: var(--unnamed-color-ffffff);
}
.unnamed-character-style-13 {
font-family: var(--unnamed-font-family-freightbig-pro);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-900);
font-size: var(--unnamed-font-size-31);
line-height: var(--unnamed-line-spacing-40);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-e8be4c);
text-transform: var(--unnamed-text-transform-uppercase);
}
.unnamed-character-style-14 {
font-family: var(--unnamed-font-family-freightbig-pro);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-300);
font-size: var(--unnamed-font-size-28);
line-height: var(--unnamed-line-spacing-44);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-d2d2d2);
}
.unnamed-character-style-15 {
font-family: var(--unnamed-font-family-freightbig-pro);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-300);
font-size: var(--unnamed-font-size-18);
line-height: var(--unnamed-line-spacing-36);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-d2d2d2);
}
.unnamed-character-style-16 {
font-family: var(--unnamed-font-family-freightbig-pro);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-300);
font-size: var(--unnamed-font-size-18);
line-height: var(--unnamed-line-spacing-33);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-d2d2d2);
}
.unnamed-character-style-17 {
font-family: var(--unnamed-font-family-freightbig-pro);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-300);
font-size: var(--unnamed-font-size-55);
line-height: var(--unnamed-line-spacing-78);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-e8be4c);
text-transform: var(--unnamed-text-transform-uppercase);
}
.unnamed-character-style-18 {
font-family: var(--unnamed-font-family-freightbig-pro);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-300);
font-size: var(--unnamed-font-size-31);
line-height: var(--unnamed-line-spacing-39);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-e8be4c);
text-transform: var(--unnamed-text-transform-uppercase);
}
.unnamed-character-style-19 {
font-family: var(--unnamed-font-family-freightbig-pro);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-300);
font-size: var(--unnamed-font-size-24);
line-height: var(--unnamed-line-spacing-33);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-d2d2d2);
}
.unnamed-character-style-20 {
font-family: var(--unnamed-font-family-freightbig-pro);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-300);
font-size: var(--unnamed-font-size-24);
line-height: var(--unnamed-line-spacing-30);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-d2d2d2);
}
.unnamed-character-style-21 {
font-family: var(--unnamed-font-family-freightbig-pro);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-300);
font-size: var(--unnamed-font-size-40);
line-height: var(--unnamed-line-spacing-84);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-ffffff);
text-transform: var(--unnamed-text-transform-uppercase);
}
.unnamed-character-style-22 {
font-family: var(--unnamed-font-family-freightbig-pro);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-medium);
font-size: var(--unnamed-font-size-37);
line-height: var(--unnamed-line-spacing-47);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-e8be4c);
text-transform: var(--unnamed-text-transform-uppercase);
}
.unnamed-character-style-23 {
font-family: var(--unnamed-font-family-freightbig-pro);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-normal);
font-size: var(--unnamed-font-size-39);
line-height: var(--unnamed-line-spacing-30);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-e8be4c);
text-transform: var(--unnamed-text-transform-uppercase);
}
.unnamed-character-style-24 {
font-family: var(--unnamed-font-family-freightbig-pro);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-300);
font-size: var(--unnamed-font-size-21);
line-height: var(--unnamed-line-spacing-89);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-d2d2d2);
}
.unnamed-character-style-25 {
font-family: var(--unnamed-font-family-freightbig-pro);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-300);
font-size: var(--unnamed-font-size-26);
line-height: var(--unnamed-line-spacing-33);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-e8be4c);
text-transform: var(--unnamed-text-transform-uppercase);
}
.unnamed-character-style-26 {
font-family: var(--unnamed-font-family-lato);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-bold);
font-size: var(--unnamed-font-size-20);
line-height: var(--unnamed-line-spacing-29);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-ffffff);
}
.unnamed-character-style-27 {
font-family: var(--unnamed-font-family-lato);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-600);
font-size: var(--unnamed-font-size-30);
line-height: var(--unnamed-line-spacing-70);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-4a3d3d);
}
.unnamed-character-style-28 {
font-family: var(--unnamed-font-family-lato);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-900);
font-size: var(--unnamed-font-size-41);
line-height: var(--unnamed-line-spacing-68);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-ffffff);
}
.unnamed-character-style-29 {
font-family: var(--unnamed-font-family-freightbig-pro);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-300);
font-size: var(--unnamed-font-size-21);
line-height: var(--unnamed-line-spacing-27);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-e8be4c);
text-transform: var(--unnamed-text-transform-uppercase);
}
.unnamed-character-style-30 {
font-family: var(--unnamed-font-family-freightbig-pro);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-300);
font-size: var(--unnamed-font-size-27);
line-height: var(--unnamed-line-spacing-34);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-d2d2d2);
}
.unnamed-character-style-31 {
font-family: var(--unnamed-font-family-freightbig-pro);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-300);
font-size: var(--unnamed-font-size-27);
line-height: var(--unnamed-line-spacing-27);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-d2d2d2);
}
.unnamed-character-style-32 {
font-family: var(--unnamed-font-family-freightbig-pro);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-bold);
font-size: var(--unnamed-font-size-30);
line-height: var(--unnamed-line-spacing-38);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-000000);
text-transform: var(--unnamed-text-transform-uppercase);
}
.unnamed-character-style-33 {
font-family: var(--unnamed-font-family-reross-rectangular);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-normal);
font-size: var(--unnamed-font-size-55);
line-height: var(--unnamed-line-spacing-89);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-e8be4c);
text-transform: var(--unnamed-text-transform-uppercase);
}
.unnamed-character-style-34 {
font-family: var(--unnamed-font-family-reross-rectangular);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-normal);
font-size: var(--unnamed-font-size-31);
line-height: var(--unnamed-line-spacing-40);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-e8be4c);
text-transform: var(--unnamed-text-transform-uppercase);
}
.unnamed-character-style-35 {
font-family: var(--unnamed-font-family-regulator-nova);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-medium);
font-size: var(--unnamed-font-size-21);
line-height: var(--unnamed-line-spacing-27);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-d2d2d2);
}
.unnamed-character-style-36 {
font-family: var(--unnamed-font-family-regulator-nova);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-medium);
font-size: var(--unnamed-font-size-21);
line-height: var(--unnamed-line-spacing-89);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-d2d2d2);
}
.unnamed-character-style-37 {
font-family: var(--unnamed-font-family-reross-rectangular);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-normal);
font-size: var(--unnamed-font-size-34);
line-height: var(--unnamed-line-spacing-89);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-000000);
text-transform: var(--unnamed-text-transform-uppercase);
}
.unnamed-character-style-38 {
font-family: var(--unnamed-font-family-reross-rectangular);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-normal);
font-size: var(--unnamed-font-size-34);
line-height: var(--unnamed-line-spacing-84);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-ffffff);
text-transform: var(--unnamed-text-transform-uppercase);
}